J_COSC390/benchmarking/sat-COT/data/COTTrainingData.json filter=lfs diff=lfs merge=lfs -text
COTTrainingData.json filter=lfs diff=lfs merge=lfs -text
train-00000-of-00001.parquet filter=lfs diff=lfs merge=lfs -text
